In [ ]:
import requests

url = f'https://eodhd.com/api/intraday/NSEBANK.INDX?api_token=65e185a7d8ff47.50324444&fmt=json&from=1664595900&to=1665396000'
data = requests.get(url).json()

print(data)

In [ ]:
# define a function to get data between two unix timesta
# mps
def get_data(from_date, to_date):
    url = f'https://eodhd.com/api/intraday/NSEBANK.INDX?api_token=65e185a7d8ff47.50324444&fmt=json&from={from_date}&to={to_date}'
    return requests.get(url).json()

In [1]:
import requests
import pandas as pd
from datetime import datetime, timedelta
# date range from October 1, 2020 until yesterday
dates = pd.date_range(start='1/1/2000', end=datetime.now() - timedelta(1))

unix_dates = [int(date.timestamp()) for date in dates]

In [23]:
start_date = "2007-04-01"
end_date = "2024-03-06"

In [24]:
#url = f'https://eodhd.com/api/intraday/NSEBANK.INDX?api_token=65e185a7d8ff47.50324444&fmt=json&from={unix_dates[0]}&to={unix_dates[-1]}'
url = f'https://eodhistoricaldata.com/api/eod/NSEBANK.INDX?api_token=65e185a7d8ff47.50324444&from={start_date}&to={end_date}&fmt=json'
data = requests.get(url).json()

In [25]:
df = pd.DataFrame(data)

In [26]:
df.shape

(4197, 7)

In [27]:
(df['volume'] == 0).sum()

9

In [28]:
df.head(1000)

,date,open,high,low,close,adjusted_close,volume
0,2007-04-02,5267.70,5267.70,4946.55,4959.65,4959.65,12535000
1,2007-04-03,4961.30,5048.60,4921.80,4995.15,4995.15,14984000
2,2007-04-04,4997.05,5108.15,4997.05,5031.75,5031.75,9251000
3,2007-04-05,5035.90,5151.25,4985.30,5129.20,5129.20,10120000
4,2007-04-09,5129.05,5335.95,5129.05,5323.80,5323.80,9708000
...,...,...,...,...,...,...,...
995,2011-04-06,11784.55,11838.05,11686.55,11730.05,11730.05,14275000
996,2011-04-07,11724.75,11825.00,11656.70,11754.40,11754.40,11993000
997,2011-04-08,11751.80,11853.35,11632.55,11673.25,11673.25,14180000
998,2011-04-11,11591.00,11637.00,11551.75,11597.80,11597.80,12854000
999,2011-04-13,11531.45,11856.35,11490.55,11839.50,11839.50,15317000

In [29]:
df.tail()

,date,open,high,low,close,adjusted_close,volume
4192,2024-03-01,46218.0000,47342.2500,46218.0000,47286.8984,47286.8984,172500
4193,2024-03-02,47342.1000,47392.9500,47240.3500,47297.5000,47297.5000,12240
4194,2024-03-04,47318.5000,47529.6016,47191.6484,47456.1016,47456.1016,158100
4195,2024-03-05,47265.6992,47737.8516,47196.7500,47581.0000,47581.0000,176900
4196,2024-03-06,47451.6484,48161.2500,47442.2500,47965.3984,47965.3984,301700

In [30]:
df.isna().sum()

date              0
open              0
high              0
low               0
close             0
adjusted_close    0
volume            0
dtype: int64

In [31]:
# Filter the DataFrame for rows where 'volume' is zero
zero_volume_df = df[df['volume'] == 0]

# Find the latest date where 'volume' is zero
latest_zero_volume_date = zero_volume_df['date'].max()

print(f"The latest date with zero volume is: {latest_zero_volume_date}")

The latest date with zero volume is: 2024-01-20

In [32]:
df['volume'].value_counts()

volume
0           9
17409000    3
8947000     3
53180000    2
14642000    2
           ..
20519000    1
23395000    1
18651000    1
16880000    1
301700      1
Name: count, Length: 4125, dtype: int64

In [33]:
df = df[df['volume'] != 0]

In [34]:
df.shape

(4188, 7)

In [35]:
df.columns

Index(['date', 'open', 'high', 'low', 'close', 'adjusted_close', 'volume'], dtype='object')

In [36]:
df.dtypes

date               object
open              float64
high              float64
low               float64
close             float64
adjusted_close    float64
volume              int64
dtype: object

In [37]:
import pandas as pd

# Load your DataFrame here
# For example: df = pd.read_csv('path_to_your_file.csv')

# Convert 'date' to datetime type
df['date'] = pd.to_datetime(df['date'])

# Set 'date' as the index
df.set_index('date', inplace=True)

# Drop the 'adjusted_close' column
df.drop('adjusted_close', axis=1, inplace=True)

# To verify the changes
print(df.head())
print(df.dtypes)

               open     high      low    close    volume
date
2007-04-02  5267.70  5267.70  4946.55  4959.65  12535000
2007-04-03  4961.30  5048.60  4921.80  4995.15  14984000
2007-04-04  4997.05  5108.15  4997.05  5031.75   9251000
2007-04-05  5035.90  5151.25  4985.30  5129.20  10120000
2007-04-09  5129.05  5335.95  5129.05  5323.80   9708000
open      float64
high      float64
low       float64
close     float64
volume      int64
dtype: object

In [38]:
df.head(25)

               open     high      low    close    volume
date
2007-04-02  5267.70  5267.70  4946.55  4959.65  12535000
2007-04-03  4961.30  5048.60  4921.80  4995.15  14984000
2007-04-04  4997.05  5108.15  4997.05  5031.75   9251000
2007-04-05  5035.90  5151.25  4985.30  5129.20  10120000
2007-04-09  5129.05  5335.95  5129.05  5323.80   9708000
2007-04-10  5335.40  5349.75  5229.75  5325.50   9197000
2007-04-11  5325.30  5374.25  5261.30  5276.65   5527000
2007-04-12  5241.15  5241.15  5176.45  5215.15   5884000
2007-04-13  5234.50  5404.10  5230.90  5362.10  10973000
2007-04-16  5400.30  5465.50  5400.30  5435.10   7437000
2007-04-17  5457.20  5522.15  5387.50  5455.45  13006000
2007-04-18  5474.10  5548.00  5460.15  5513.00  10512000
2007-04-19  5485.20  5587.30  5382.20  5540.30  11573000
2007-04-20  5552.10  5626.85  5514.80  5597.55   9099000
2007-04-23  5622.00  5637.10  5536.05  5550.15   8005000
2007-04-24  5524.20  5833.05  5511.70  5807.50  24077000
2007-04-25  5724.00  5905.10  5724.00  5876.45  13755000
2007-04-26  5886.95  5975.00  5862.85  5880.95  15562000
2007-04-27  5833.65  5874.75  5731.40  5752.90  10681000
2007-04-30  5627.90  5638.65  5490.85  5621.00  11541000
2007-05-03  5656.25  5721.90  5651.05  5693.40  13434000
2007-05-04  5713.70  5765.60  5641.75  5656.55  13053000
2007-05-07  5773.40  5773.40  5596.20  5610.70  11791000
2007-05-08  5584.10  5672.50  5523.75  5537.00   9247000
2007-05-09  5571.15  5649.25  5480.50  5638.55   9546000

In [39]:
df.tail(25)

                  open        high         low       close     volume
date
2024-02-02  46568.2000  46892.3500  45901.2500  45970.9500  337040000
2024-02-05  45962.2500  46048.6000  45615.1000  45825.5500  265910000
2024-02-06  45891.2000  45932.1500  45527.0000  45690.8000  178590000
2024-02-07  45944.6000  46062.8500  45620.5000  45818.5000  283680000
2024-02-08  45973.8500  46181.2000  44893.7500  45012.0000  319910000
2024-02-09  44986.7500  45718.1500  44859.1500  45634.5500  275980000
2024-02-12  45664.3000  45748.5000  44633.8500  44882.2500  268820000
2024-02-13  45056.8000  45750.4000  44819.5500  45502.4000  245860000
2024-02-14  45014.6500  46170.4500  44860.7500  45908.3000  279950000
2024-02-15  46027.1000  46297.7000  45590.2000  46218.9000  277740000
2024-02-16  46454.3000  46693.4000  46264.4000  46384.8500  291380000
2024-02-19  46554.9000  46717.4000  46317.7000  46535.5000  158390000
2024-02-20  46444.9000  47136.7500  46367.8000  47094.2000  171890000
2024-02-21  47363.4000  47363.4000  46886.9500  47019.7000  198950000
2024-02-22  46934.5500  47024.0500  46426.8500  46919.8000  177180000
2024-02-23  47060.7000  47245.3500  46723.1500  46811.7500  200520000
2024-02-26  46615.8500  46893.1500  46513.5500  46576.5000  223680000
2024-02-27  46480.2000  46722.2500  46324.9000  46588.0500  157260000
2024-02-28  46640.9000  46754.5500  45852.5500  45963.1500  167270000
2024-02-29  45881.4500  46329.6500  45661.7500  46120.9000  544730000
2024-03-01  46218.0000  47342.2500  46218.0000  47286.8984     172500
2024-03-02  47342.1000  47392.9500  47240.3500  47297.5000      12240
2024-03-04  47318.5000  47529.6016  47191.6484  47456.1016     158100
2024-03-05  47265.6992  47737.8516  47196.7500  47581.0000     176900
2024-03-06  47451.6484  48161.2500  47442.2500  47965.3984     301700

In [40]:
df.to_csv('eod_data.csv', index=True)